@model IEnumerable<Persona>
@{
    ViewData["Title"] = "Home Page";
}

<div>
	<h1 class="display-4">Lista de Personas</h1>
	<h4><a asp-action="Editar">Crear</a></h4>
	<ul>
		@foreach (var item in Model)
		{
			<li>@item.Nombre 
				<a asp-action="Editar" asp-route-id="@item.Id">(@item.Dni)</a>
				<a asp-action="Eliminar" asp-route-id="@item.Id"><i class="fa fa-trash text-danger"></i></a>
			</li>
		}
	</ul>
</div>
