@model IEnumerable<Persona>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <ul>
        @foreach(var item in Model)
        {
            <li>@item.Nombre, @item.Email</li>
        }
    </ul>
</div>
