@model Inmobiliaria.Models.Usuario
@{
    ViewData["Title"] = "Editar Usuario";
}

<h4>Detalle Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label">ID Usuario</label>
                <input asp-for="IdUsuario" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" readonly />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label">Apellido</label>
                <input asp-for="Apellido" class="form-control" readonly />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvatarUrl" class="control-label" readonly>Avatar Actual</label>
                <div class="form-group">
                    @if (!string.IsNullOrEmpty(Model.AvatarUrl))
                    {
                        <img src="@Model.AvatarUrl" id="avatar-preview" alt="Avatar" style="max-width: 150px;">
                    }
                    else
                    {
                        <p>No hay avatar disponible.</p>
                    }
                </div>
            </div>

            <div class="form-group">
                <label asp-for="RolNombre" class="control-label" readonly>Rol</label>
                <input asp-for="RolNombre" class="form-control" readonly>
                <span asp-validation-for="RolNombre" class="text-danger"></span>
            </div>
        </form>
    </div>

</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
